<!--NG CLASS COLOCA AS CLASSES DE ACORDO COM AS CONDIÇOES IMPOSTAS-->
<!--NG STYLE COLOCA STYLES DE ACORDO COM AS CONDIÇOES IMPOSTRAS-->
<!--PODE COLOCAR QUALQUER EXPRESSÃO-->

<!--NG COINTAINER SERVE PRA AGRUPAR, SEM CRIAR UMA DIV REDUNDANTE NA PAGINA-->
<!--SEMPRE AGRUPE PELA RAIZ-->
<ng-container *ngIf="course">
  <div [ngClass]="cardClasses(course)" class="course-card">


    <div class="course-title">
      {{cardIndex + ' ' + course.description}}
    </div>


    <!--    ESTAMOS PROJETANDO AQUI O CONTEUDO QUE COLOCAMOS DENTRO DO NOSSO COMPOONENTE LA ONDE FOI CHAMADO-->
    <!--    Podemos SELECIONAR O QUE QUEREMOS PROJETAR-->
    <!--PODEMOS SEELCIOANR QUALQUER COISA, DESDE UM DETERMINADO NATIVO DO HTML, ATE MESMO UMA CLASSE CSSS-->
    <ng-content select=".projetar">

    </ng-content>

    <!--    PODEMOS COLOCAR VARIOS-->
    <ng-content select=".projetar-description">

    </ng-content>


    <div class="course-description">
      {{course.longDescription}}
    </div>

    <ng-container [ngSwitch]="course.category">
      <div class="course-category">
        <ng-container *ngSwitchCase="'BEGINNER'">
          <div class="category">Beginner</div>
        </ng-container>
        <div *ngSwitchCase="'INTERMEDIATE'" class="category">Intermediate</div>
        <div *ngSwitchCase="'ADVANCED'" class="category">Advanced</div>
        <div *ngSwitchDefault class="category">All Levels</div>
      </div>
    </ng-container>


    <button (click)="oncourseViewed()">
      View Course
    </button>


  </div>

</ng-container>
