<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<button (click)="onCoursesEdited()">Edit Courses</button>


<div class="salmon-theme">


  <ng-template [ngIf]="course[0]" let-course>

    <div class="courses">

      <course-card #highlighter="hl" (courseSelected)="courseSelected($event)"
                   (toggleHighlight)="OnToggle($event)"
                   [cardIndex]="1"
                   [course]="course"
                   highlighted>


        <course-image *ngxUnless="!course.iconUrl"
                      [src]="course.iconUrl">

        </course-image>


        <div (dblclick)="highlighter.toggle()"
             class="course-description">
          {{ course.longDescription }}
        </div>

      </course-card>

    </div>

  </ng-template>


</div>

