<div class="top-menu">

  <img class="logo"
       src="https://angular-academy.s3.amazonaws.com/main-logo/main-page-logo-small-hat.png">

</div>

<button (click)="onCoursesEdited()">Edit Courses</button>

<div class="courses">
  <!--    E UM ELMENTO QUE NÃO E RENDERIZADO POR DEFAULT, QUER DIZER QUE ELE SO VAI SER RENDERIZADO, SE FOR CHAMADO INDIRETAMENTE OU DIRETAMENTE-->
  <ng-template #blankImage let-courseName="description">
    <p class="warn">
      {{courseName}} has no image yet
    </p>
    <img src="/assets/empty-image.png">
  </ng-template>


  <!--TEM COMO PASSAR ANGULAR TEMMPLATES COMO INPUTS-->
  <course-card (courseSelected)="courseSelected($event)"
               *ngFor="let course of course ;index as i;first as isFirst;last as isLast"
               [cardIndex]="i+1"
               [class.is-first]="isFirst"
               [class.is-last]="isLast"
               [course]="course"
               [noImageTpl]="blankImage"
  >

    <course-image [src]="course.iconUrl"></course-image>
    <course-image [src]="course.iconUrl"></course-image>
    <course-image [src]="course.iconUrl"></course-image>
    <div class="projetar">
      <h2>PROJETAR SO ISSO AQUI</h2>
    </div>

    <div class="projetar-description">
      {{course.description}}
    </div>

    <h2>Total Lessons:2</h2>
  </course-card>


</div>


